<%= form_for(@ramal) do |f| %>
	<div class="field">
		<%= f.label :name %> <br>
		<%= f.text_field :name %> <br><br>

		<%= f.label :number %> <br>
		<%= f.text_field :number %> <br><br>
		
		<%= f.label :local %> <br>
		<%= f.text_field :local %> <br><br>

	</div>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>